:root {
  --color-white: #fff;
  --color-gray: #c4c4c4;
  --color-black: #000;
  --color-purple: #8000ff;
  --color-light-purple: #cf59e6;
  --color-light-blue: #6bc5f8;
  --color-light-yellow: #fd0;
  --color-light-orange: #fbb034;
  --color-green: #63898a;
  --color-light-green: #9fbcbf;
}


.App {
  text-align: center;
}

.gradient1 {
  background: -webkit-linear-gradient(135deg,var(--color-light-blue),var(--color-light-purple),var(--color-light-blue),var(--color-light-purple));
  background: linear-gradient(-45deg,var(--color-light-blue),var(--color-light-purple),var(--color-light-blue),var(--color-light-purple));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
}

.gradient-yellow {
  background: -webkit-linear-gradient(135deg,var(--color-light-orange),var(--color-light-yellow),var(--color-light-blue),var(--color-light-purple));
  background: linear-gradient(-45deg,var(--color-light-orange),var(--color-light-yellow),var(--color-light-blue),var(--color-light-purple));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
}

.gradient-green {
  background: -webkit-linear-gradient(135deg,var(--color-green),var(--color-light-green),var(--color-light-blue),var(--color-light-purple));
  background: linear-gradient(-45deg,var(--color-green),var(--color-light-green),var(--color-light-blue),var(--color-light-purple));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
}

@-webkit-keyframes gradient {
  0% { background-position: 0px 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0px 50%; }
}
@keyframes gradient {
  0% { background-position: 0px 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0px 50%; }
}
